<h1> Add a Book to Your Collection </h1>
<% if @book.errors.any? %>
  <div id="error_explanation">
    <h2><%= @book.errors.count %> error(s) prohibited this article from being saved:</h2>
 
    <ul>
    <% @book.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<form action='/books' method='POST'>
Title: <input type=text name='title'><br>
Author: <input type=text name='author'><br>
<input type=submit>
</form>