<div class="container">
  <header><img src="images/pexels-pixabay-159711.jpg" alt="Library" width=500px height=300px></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Book Collection</h2>
    <a href='/books'>View Library</a>

    <div class="content">

      <p>Welcome to your book collection! Here you can store a digital library of all the books you own.</p>
    </div>

  

  </div>
</div>
